{% extends 'PermisoAuthBundle::layout.html.twig' %}
{% block content %}
   
    <p>{{ empleado.username }}</p>
    <p>{{ empleado.categoria.nombre }}</p>
    <p>{{ empleado.categoria.nombreRol }}</p>
    <p>{{ permiso }}</p>
{% endblock %}
