{% extends 'PermisoAuthBundle::layout.html.twig' %}
{% block content %}
    <p>Usuario: {{ nombre.usuario }}</p>
    <p>Contraseña: {{nombre.password }}</p>
    <p>Roles: {{ permiso }}</p>
{% endblock %}
